body {
background-image: url(../images/fond.png);
background-size: cover;
background-repeat: no-repeat;
margin: 0;
padding: 0;  
width: 100vw;
height: 100vh;
overflow:hidden;
font-family: Raleway, sans-serif;
}


section {
    display:flex;
    flex-wrap: wrap;
    width: 1200px;
    margin:auto;
    justify-content: space-between;
    
}


h2 {
    font-size: 80px;
    letter-spacing: 12px;
    text-align:center;
    color: yellow;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 180px;
    width: 100%;
    
}

.zone-pendu {
    display: flex;
    width: 40%;
    height: auto;
    flex-direction: column;
    align-content: center;
   
}
.fond-chat{ 
    height: 70%;
}

#input {
    margin-top: 60px;
    width:500px;
    height:80px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px; 
}

.input-lettre {
    border-bottom-color: yellow;
    width:30px;
    height :50px;
    font-size: 10px;
    background-color: black;
}


.bg-1 {
background-image: url(../images/fond-potence.png); 


}

.bg-2 {
background-image: url(../images/fond-potence-chat-bras-1.png);    
}

.bg-3 {
background-image: url(../images/fond-potence-chat-bras-2.png);    
}

.bg-4 {
background-image: url(../images/fond-potence-chat-pate-1.png);    
}

.bg-5 {
background-image: url(../images/fond-potence-chat-pate-2.png);    
}

.bg-6 {
background-image: url(../images/fond-potence-chat-corps.png);    
}

.bg-7 {
 background-image: url(../images/fond-potence-chat.png);   
}



.zone-clavier {
    display:flex;
    flex-direction: column;
    width: 40%;
   
}
.rejouer {
    border: solid 3px white;
    color: white;
    background-color: transparent;
    width: 20%;
    margin:auto;
    padding: 8px;
  
    
}

.rejouer:hover {
    cursor:pointer;
    background-color: black;
    border: solid 3px yellow;
    color :yellow;
    
}

.clavier  {
    background-color: white;
    height: 400px;
    margin-top: 85px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}



.touche {
    background-color: black;
    color: white;
    width: 15%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;  
}

.touche:hover {
    color: yellow;
    cursor:pointer;
    

    
    
}





/* Media queries*/


@media screen and (min-width: 330px) and (max-width: 480px) and (orientation: landscape) {
   
    
}

@media screen and (min-width: 544px) and (max-width: 767px) and (orientation: landscape) {
    
}
    

@media screen and (min-width: 768px) and (max-width: 992px) {



@media screen and (min-width: 993px) and (max-width: 1200px) and (orientation: landscape) {
        
    }